<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% else%>
  <br><br>
<% end %>
<h5>Please use your email and password to login to our system.</h5>
<br>
<div class="row centered">
  <div class="col s10"> 
    <%= form_tag sessions_path do %>
      <div class="control-group">
        <%= label_tag :email %>
        <div class="controls">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      
      <div class="actions">
      	<button class="btn waves-effect waves-light">
          <%= submit_tag "Login"%>
				</button>
      </div>
    <% end %>
  </div>
</div>
<br><br><br><br>
