<table class="bordered highlight responsive-table">
    <thead>
        <th class="black-text">Item</th>
        <th class="black-text">Quantity</th>
        <th class="black-text">Price</th>
        <th></th>
        <th></th>    
    </thead>
    <tbody>
        <% session[:cart].keys.each do |item|%>
            <tr>
                <td class="black-text"><%= Item.find(item).name %></td>
                <td class="black-text"><%= session[:cart][item] %></td>
                <td class="black-text"><%= number_to_currency Item.find(item).current_price * session[:cart][item] %></td>
                <td><%= button_to "Remove From Cart", remove_from_cart_path(item) %></td>
                <td><%= button_to "One More!", add_to_cart_path(item) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p class="black-text"><b>Subtotal: </b><%= number_to_currency(cart_cost) %></p>
<p class="black-text"><b>Shipping: </b><%= number_to_currency(shipping_cost) %></p>
<p class="black-text"><b>Grand Total: </b><%= number_to_currency(shipping_cost + cart_cost) %></p>