<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Questions, Comments, or Concerns?</h5>
				<p class="grey-text text-lighten-4">Please get in touch with the Webmaster. The email is linked below and the contact information is listed in the Contact page.</p>
				<p class="grey-text text-lighten-4"> &copy 2017 Webmaster: <a class="grey-text text-lighten-4" <%= mail_to("wpchu@andrew.cmu.edu", "Winston Chu", encode: "javascript") %> </a> </p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<div id="footer">
						<li><a class="grey-text text-lighten-3" <%= link_to 'Home', home_path %> </a></li>
						<li><a class="grey-text text-lighten-3" <%= link_to 'About', about_path %> </a></li>
						<li><a class="grey-text text-lighten-3" <%= link_to 'Contact Us', contact_path %> </a></li>
						<li><a class="grey-text text-lighten-3" <%= link_to 'Privacy Policy', privacy_path %> </a></li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</footer>