<div class="nav-wrapper teal">
  <div class="top-bar">
    <a class="brand-logo" <%= link_to "Alex & Mark's Chess Store", home_path %> </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? && current_user.role?(:customer) %>
        <li><%= link_to "Browse Items", items_path %></li>
        <li><%= link_to "Add a School", new_school_path %></li>
        <li><a href="#cart_modal">Cart (<%= session[:cart].length %>)</a></li>
        <div id="cart_modal" class="modal">
          <div class="modal-content">
            <h4 class="black-text">Your Cart</h4>
            <% if session[:cart].empty? %>
	            <p class="black-text">Cart is Empty</p>
            <% else %>
              <%= render partial: 'partials/cart_table' %>
            <% end %>
          </div>
        </div>
        <li><%= link_to "View Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Edit Account", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "View Items", items_path %></li>
        <li> <%= link_to "Create Account", new_user_path %>
        <li> <%= link_to "Login", login_path %> </li>
      <% end%>  
    </ul>
  </div>
</div>