<div class="contain-to-grid">
    <nav>
      <div class="nav-wrapper teal">
        <div class="top-bar">
          <a class="brand-logo" <%= link_to "Alex & Mark's Chess Store", home_path %> </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Items", items_path %></li>
            <li><%= link_to "Purchases", purchases_path %></li>
            <li><%= link_to "Prices", item_prices_path %></li>
            <% if logged_in? %>
              <li> Welcome, <%= current_user.proper_name %>! </li>
              <li> <%= link_to "Logout", logout_path %> </li>
            <% else %>
              <li><%= link_to "Login", login_path %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</div>