<div id="side_bar">
  <u><h5>Menu:</h5></u>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "View Items", items_path %></li>
    <li><%= link_to "View Item Prices", item_prices_path %></li>
    <li><%= link_to "View Purchases", purchases_path %></li>
    <li><%= link_to "View Schools", schools_path %></li>
    <li><%= link_to "View Users", users_path %></li>
    <li><%= link_to "View Orders", orders_path %></li>

  <u><h5>More Options:</h5></u>
    <li><%= link_to "Add an Item", new_item_path %></li>
    <li><%= link_to "Change an Item's Price", new_item_price_path %></li>
    <li><%= link_to "Make a Purchase", new_purchase_path %></li>
    <li><%= link_to "Add an School", new_school_path %></li>
    <li><%= link_to "Add a User", new_user_path %></li>
</div>