<div class="row">
	<%= simple_form_for(@user) do |f| %>

		<!-- Display errors, if any -->
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h6><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h6>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</div>
  	<% end %>
		
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">person</i>
				<%= f.label :first_name %>
    		<%= f.text_field :first_name %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">person</i>
				<%= f.label :last_name %>
    		<%= f.text_field :last_name %>
			</div>
    </div>
    <% unless @user.save %>
      <div class="row">
        <div class="input-field col s10">
          <i class="material-icons prefix">person_outline</i>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
      </div>
    <% end %>
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">email</i>
				<%= f.label :email %>
    		<%= f.text_field :email %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">phone</i>
				<%= f.label :phone %>
    		<%= f.text_field :phone %>
			</div>
		</div>
		<% unless @user.save %>
			<div class="row">
				<div class="input-field col s10">
					<i class="material-icons prefix">lock_outline</i>
					<%= f.label :password %>
					<input type="password"<%= f.text_field :password %>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<i class="material-icons prefix">lock</i>
					<%= f.label :password_confirmation %>
					<input type="password"<%= f.text_field :password_confirmation %>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<i class="material-icons prefix">list</i>
					<%= f.label :role %><br></br>
					<% if @user.role?(:admin) || @user.role?(:manager) %>
						<%= f.select :role, User::ROLES %>
					<% else %>
						<%= f.select :role, User::ROLES, selected: :customer, :disabled => [:admin, :manager, :shipper] %>
					<% end %>
				</div>
			</div>
		<% end %>
		<div class ="row">
			<div class="input-field col s10">
				<button class="btn waves-effect waves-light">
					<i class="material-icons right">verified_user</i>
					<%= f.submit %>
				</button>
			</div>
		</div>
	<% end %>
</div>