<!-- Display a table showing information of all the boards -->
<table class="bordered highlight responsive-table">
	<thead>
		<tr>
			<th>Name (Username)</th>
      <th>Email</th>
			<th>Role</th>
		</tr>
	</thead>

	<tbody>
		<% for user in @inactive_users %>
      <tr>
        <td><%= link_to user.name, user_path(user) %><%= " (#{user.username})" %></td>
        <td><%= mail_to(user.email, user.email, encode: "javascript") %></td>
        <td><%= user.role.capitalize %></td>
      </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @inactive_users %>