<h3><%= current_user.proper_name %></h3>
<p><b>Username: </b><%= current_user.username %></p>
<p><b>Phone: </b><%= current_user.phone %></p>
<p><b>Email: </b><%= mail_to(current_user.email, current_user.email, encode: "javascript") %></p>
<em>A valued Chess Store <%= current_user.role %> since <%= Date.current.year %>.</em>
<br><br>

<% unless current_user.role?(:shipper) %>
  <h5>Orders</h5>
  <%= render partial: 'order_table'%>
<% end %>

<br>
<a class="waves-effect waves-teal btn" <%= link_to "Edit Info", edit_user_path(current_user) %> </a>