<h3><%= current_user.proper_name %></h3>
<p><b>Username: </b><%= current_user.username %></p>
<p><b>Phone: </b><%= current_user.phone %></p>
<p><b>Email: </b><%= mail_to(current_user.email, current_user.email, encode: "javascript") %></p>
<em>A valued Chess Store <%= current_user.role %> since <%= Date.current.year %>.</em>
<br><br>
<a class="waves-effect waves-teal btn" <%= link_to "Edit Info", edit_user_path(current_user) %> </a>

<div id="order-sidebar">
  <% unless @user_orders.empty? %>
    <table class="bordered highlight centered responsive-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>School</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% for order in @user_orders %>
          <tr>
            <td><%= link_to order.date.strftime("%-m/%-d/%y"), order_path(order) %></td>
            <% if logged_in? && !(current_user.role?(:customer) || current_user.role?(:shipper)) %>
              <td><%= link_to order.school.name, school_path(order.school) %> </td>
            <% else %>
              <td><%= order.school.name %> </td>
            <% end %>
            <td><%= number_to_currency(order.grand_total) %> </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    No associated orders exist in our system.
  <% end %>
</div>