<%= simple_form_for @item_price, remote: true do |f| %>

	<!-- Display error messages, if any -->
	<% if @item_price.errors.any? %>
		<div id="error_explanation">
			<h6><%= pluralize(@item_price.errors.count, "error") %> prohibited this item from being saved:</h6>
			<% @item_price.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</div>
	<% end %>

	<!-- Form for creating a new item price -->
	<%= f.input :item_id, as: :hidden, input_html: { value: params[:item_id] } %>
	<div class="row">
		<div class="input-field col s7">
			<i class="material-icons prefix">attach_money</i>
			<%= f.label :price %>
			<%= f.number_field :price %>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s10">
			<i class="material-icons prefix">list</i>
			<%= f.label :category, "Category (wholesale/manufacturer)" %>
			<%= f.text_field :category %>
		</div>
	</div>
	<div class ="row">
		<div class="input-field col s7">
			<button class="btn waves-effect waves-light">
				<%= f.submit %>
			</button>
		</div>
		<div class="input-field col s4">
			<button class="btn waves-effect waves-light white-text">
				<%= link_to 'Cancel', item_path(params[:item_id]) %>
			</button>
		</div>
	</div>
<% end %>