<h3>Welcome to the Chess Store!</h3>

<% if !logged_in? || current_user.role?(:customer) %>
	<%= image_tag 'background.jpg', class: "left" %>
	<p> We are Alex and Mark Heimann, USCF and FIDE Chess
	Masters who have graduated from college and want to 
	help you! Our goal is help you develop your chess 
	skills and provide you with the necessary items to do so. 
	That's why we are committed to giving you the best products
	at the most affordable prices. If your school or 
	institution needs chess items, then this is the store
	for you! Happy shopping! <p>
<% else %>
<h4>Reorder List</h4>
	<% unless @items_to_reorder.empty? %>
		<table class="bordered highlight centered responsive-table">
			<thead>
				<tr>
					<th>Item</th>
					<th>Inventory</th>
								<th>Reorder Level</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				<% for item in @items_to_reorder %>
				<tr>
					<td><%= link_to item.name, item_path(item) %></td>
					<td><%= item.inventory_level %></td>
					<td><%= item.reorder_level %></td>
					<td><a class="waves-effect waves-teal btn" <%= link_to "Edit", edit_item_path(item) %> </a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else %> 
		No items need to be reordered at this time.
	<% end %>
<% end %>