<h3>Welcome to the Chess Store!</h3>

<% if !logged_in? || current_user.role?(:customer) %>
	<%= image_tag 'background.jpg', class: "left" %>
	<p> We are Alex and Mark Heimann, USCF and FIDE Chess
	Masters who have graduated from college and want to 
	help you! Our goal is help you develop your chess 
	skills and provide you with the necessary items to do so. 
	That's why we are committed to giving you the best products
	at the most affordable prices. If your school or 
	institution needs chess items, then this is the store
	for you! Happy shopping! <p>
<% elsif current_user.role?(:manager) %>
	<%= render partial: 'reorder_list' %>
<% elsif current_user.role?(:shipper) %>
	<h4>Unshipped Order Items:</h4>
	<%= render partial: 'shipper_list' %>
<% elsif current_user.role?(:admin) %>
	<%= render partial: 'reorder_list' %>
	<h4>Unshipped Order Items:</h4>
	<%= render partial: 'shipper_list' %>
<% end %>