<% for item in @boards %>
	<div class="col s12 m4">
		<div class="card small">
			<div class="card-image">
				<% if item.photo_url.nil? %>
					<p><%= image_tag "img_not_available.png", height: "200px", title: "I'm sure it looks delicious" %></p>
				<% else %>
					<p><%= image_tag item.photo_url, height: "200px", title: "Delicious!" %></p>
				<% end %>
			</div>
			<div class="card-content truncate">
				<p><b><%= link_to item.name, item_path(item) %></b></p>
				<p><%= number_to_currency(item.current_price) %></p>
			</div>
			<div class="card-action">
				<% if logged_in? && (current_user.role?(:customer) || current_user.role?(:admin)) %>
					<%= button_to "Add To Cart", add_to_cart_path(item) %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>