<p><h3>Available Items</h3>
<% if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin))%>
  <a class="waves-effect waves-light btn" <%= link_to "Add a New Item", new_item_path %> </a>
<% end %>
</p>

<% unless @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? && @inactive_items.empty? %>
  <div class="row">
    <div class="col s10">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a href="#all">All</a></li>
        <li class="tab col s3"><a href="#boards">Boards</a></li>
        <li class="tab col s3"><a href="#pieces">Pieces</a></li>
        <li class="tab col s3"><a href="#clocks">Clocks</a></li>
        <li class="tab col s3"><a href="#supplies">Supplies</a></li>
      </ul>
    </div>
    <div id="all" class="col s10">
      <%= render partial: 'all_tab' %>
    </div>
    <div id="boards" class="col s10">
      <% unless @boards.empty? %>
        <%= render partial: "boards" %>
      <% else %>
        <p>There are no active boards in the system at this time.</p>
      <% end %>
    </div>
    <div id="pieces" class="col s10">
      <% unless @pieces.empty? %>
        <%= render partial: "pieces" %>
      <% else %>
        <p>There are no active pieces in the system at this time.</p>
      <% end %>
    </div>
    <div id="clocks" class="col s10">
      <% unless @clocks.empty? %>
        <%= render partial: "clocks" %>
      <% else %>
        <p>There are no active clocks in the system at this time.</p>
      <% end %>
    </div>
    <div id="supplies" class="col s10">
      <% unless @supplies.empty? %>
        <%= render partial: "supplies" %>
      <% else %>
        <p>There are no active supplies in the system at this time.</p>
      <% end %>
    </div>
  </div>

<% else %>
  <p>There are no items in the system at this time.</p>
<% end %>
