<div id="item_show">
	<a class="waves-effect waves-teal btn" <%= link_to "Back to Items", items_path %> </a>
	<!-- Show the details of the item -->
	<%= image_tag 'img_not_available.png', class: "right" %>
	<h3><%= @item.name %></h3>
	<p><b>Price:</b> 
		<% if @item.current_price.nil? %>
			N/A
		<% else %>
			<%= "$" + number_with_delimiter(number_with_precision(@item.current_price, precision: 2)) %>
		<% end %>
	</p>
	<p><b>Category:</b> <%= @item.category.capitalize %></p>
	<p><b>Color:</b> <%= @item.color %></p>
	<p><b>Weight:</b> <%= @item.weight.round(2) %> lbs.</p>
	<p><b>Description:</b> <%= @item.description %></p>
	<div id="levels_and_history">
		<%= render partial: 'levels_and_history' %>
	</div>
	<p></p> <!-- Add a blank line for formatting issues -->
	<%= render partial: 'similar_items' %>
	<p></p> <!-- Add a blank line for formatting issues -->
	<!-- Buttons for editing and deleting the item -->
	<% if logged_in? && (current_user.role?(:admin) || current_user.role?(:manager)) %>
		<a class="waves-effect waves-teal btn" <%= link_to "Edit", edit_item_path(@item) %> </a>
		<a class="waves-effect waves-red btn tooltipped" data-position="top" data-delay="10" data-tooltip="Are you sure?" <%= link_to "Delete", @item, method: :delete %> </a>
	<% end %>
</div>
<div id="new_price">
	<u><h5>Options:</h5></u>
	<%= link_to(new_item_price_path(item_id: @item.id), id: 'new_price_link', class: 'button tiny radius', remote: true) do %>
		Change Price
	<% end %>
</div>