<h3><%= @school.name %></h3>
<% if !@school.active %>
  <h5><b>INACTIVE</b></h5>
<% end %>
<p><b>Address:</b><br>
<%= @school.street_1 %><br>
<% unless @school.street_2.nil? %>
  <%= @school.street_2 %><br>
<% end %>
<%= @school.city %>, <%= @school.state %> <%= @school.zip %><br>
United States</p>

<p><b>Mininum Grade: </b>
<% unless @school.min_grade.nil?%>
  <%= @school.min_grade %>
<% else %>
  N/A
<% end %><p>

<p><b>Maximum Grade: </b>
<% unless @school.max_grade.nil?%>
  <%= @school.max_grade %>
<% else %>
  N/A
<% end %><p>

<b>School Orders: </b>
<%= render partial: 'school_order_table' %>

<br>
<a class="waves-effect waves-teal btn" <%= link_to "Edit School", edit_school_path(@school) %> </a>
<a class="waves-effect waves-red btn tooltipped" data-position="top" data-delay="10" data-tooltip="Are you sure?" <%= link_to "Delete", @item, method: :delete %> </a>