<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chess Warehouse :: <%= controller.controller_name.capitalize %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Link for Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  </head>

  <body>
    <%= render :partial => "partials/nav" %>
    
  <main>
    <div class="container">
      <div class="content">
        <div class="row">
            <!-- MAIN CONTENT GOES HERE -->
            <!-- Flash a notice, if necessary -->
            <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
            <% end %>
            <%= yield %>
            <%= javascript_include_tag "application" %>
        </div>
      </div>
    </div>
  </main>
    <%= render partial: 'partials/footer' %>  
    <%= javascript_include_tag "application" %>
  </body>
</html>
