<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Store :: <%= controller.controller_name.capitalize %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!--<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>-->
    <%= csrf_meta_tags %>
    <!-- Materialize CSS and JavaScript links -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Link for Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>

  <body>
    <!-- Nav bar dropdown content here -->
    <nav>
      <%= render partial: 'partials/nav' %>
    </nav>
  </body>
  <main>
    <div class="container">
      <div class="content">
        <div class="row">
            <!-- MAIN CONTENT GOES HERE -->
            <!-- Flash a notice, if necessary -->
            <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
            <% elsif flash[:error] %>
              <div class="alert"><%= flash[:error] %></div>
            <% end %>
            <% if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin))%>
              <div id="main_stuff">
            <% end %>
            <%= yield %>
            <%= javascript_include_tag "application" %>
            <% if logged_in? && (current_user.role?(:manager) || current_user.role?(:admin))%>
              </div>
              <%= render partial: 'partials/side_bar' %>
            <% end %>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer goes here -->
  <%= render partial: 'partials/footer' %>  
  </body>

</html>
